
django/firstDjango/firstApp/__pycache__/__init__.cpython-34.pyc
django/firstDjango/firstApp/__pycache__/admin.cpython-34.pyc
*.pyc
LANCOM/lancomconfig
LANCOM/sampleSerial
LANCOM/sampleTcpClient
LANCOM/sampleTcpServer
tcpdump/base/devfile/_usr_lib_arm-linux-gnueabihf/libpcap.so.1.6.2
tcpdump/base/devfile/_usr_lib_arm-linux-gnueabihf/libpcap.so.0.8
tcpdump/base/devfile/_usr_sbin/tcpdump
tcpdump/base/devfile/_usr_share_doc/libpcap0.8/changelog.Debian.gz
tcpdump/base/devfile/_usr_share_doc/libpcap0.8/changelog.gz
tcpdump/base/devfile/_usr_share_doc/libpcap0.8/copyright
tcpdump/base/devfile/_usr_share_doc/libpcap0.8/CREDITS.gz
tcpdump/base/devfile/_usr_share_doc/libpcap0.8/README
tcpdump/base/devfile/_usr_share_doc/libpcap0.8/README.Debian
tcpdump/base/devfile/_usr_share_doc/tcpdump/changelog.Debian.gz
tcpdump/base/devfile/_usr_share_doc/tcpdump/changelog.gz
tcpdump/base/devfile/_usr_share_doc/tcpdump/copyright
tcpdump/base/devfile/_usr_share_doc/tcpdump/examples/atime.awk
tcpdump/base/devfile/_usr_share_doc/tcpdump/examples/packetdat.awk
tcpdump/base/devfile/_usr_share_doc/tcpdump/examples/send-ack.awk
tcpdump/base/devfile/_usr_share_doc/tcpdump/examples/stime.awk
tcpdump/base/devfile/_usr_share_doc/tcpdump/README.md.gz
tcpdump/base/devfile/_usr_share_man_man8/tcpdump.8.gz
tcpdump/base/devfile/_var_cache_apt_archives/libpcap0.8_1.6.2-2_armhf.deb
tcpdump/base/devfile/_var_cache_apt_archives/tcpdump_4.9.0-1~deb8u1_armhf.deb
tcpdump/base/devfile/_var_lib_dpkg_info/libpcap0.8%3Aarmhf.list
tcpdump/base/devfile/_var_lib_dpkg_info/libpcap0.8%3Aarmhf.md5sums
tcpdump/base/devfile/_var_lib_dpkg_info/libpcap0.8%3Aarmhf.postinst
tcpdump/base/devfile/_var_lib_dpkg_info/libpcap0.8%3Aarmhf.postrm
tcpdump/base/devfile/_var_lib_dpkg_info/libpcap0.8%3Aarmhf.shlibs
tcpdump/base/devfile/_var_lib_dpkg_info/libpcap0.8%3Aarmhf.symbols
tcpdump/base/devfile/_var_lib_dpkg_info/tcpdump.list
tcpdump/base/devfile/_var_lib_dpkg_info/tcpdump.md5sums
